table {
    text-align: center;
    margin-top: 10px;
}

button {

    margin-right: 5px;
    margin-bottom: 5px;

}

th,
td {
    font-size: 90%;
}

.titulo,.subTitulo,.coluna {
    background-color: #e3f2fd;
}

.coluna{
    cursor: pointer;
}

    



.btn-listas {
    background-color: #373435;
    color: white;
}

.btn-baixar {
    background-color: #D04040;
    color: white;
}



.pointer.active.desc:after {
    content: "▲";
    float: right;
}

.pointer.active.asc:after {
    content: "▼";
    float: right;
}

.box {
    display: inline-block;
    margin-bottom: 8px;
}

#coluna option {
    background-color: white;
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 20px;
    cursor: pointer;
}



#filtro,
#coluna {
    padding: 0.5rem;
    margin-right: 5px;
}

#coluna {
    cursor: pointer;
    width: 11rem
}

#filtro {
    width: 22rem;
}

#footer{
    background-color: #86b7dd;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -12px;
   display: flex;
   justify-content: center;
}

.itensPorPagina{
    background-color: transparent;
    color: white;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    border: 0;
    width:56px;

}

.itensPorPagina:hover{
    background-color: white;
    color: black;
    

}
.itensPorPagina option{
    color: black;
}
